Source: lbd
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@localhost.localdomain>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://ge.mine.nu/code/
Vcs-Git: ssh://git@git.kali.org/packages/lbd.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/lbd.git;a=summary

Package: lbd
Architecture: all
Depends: ${misc:Depends}
Description: Load balancer detector
 Checks if a given domain uses load-balancing.
